@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color:bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #8A3186;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
  max-width: 1200px;
}

.panel {
    background-color: #8A3186;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 1500ms ease-in; 
    transition: all 1500ms ease-in;
  }

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(2),
  .panel:nth-of-type(3) {
    display: none;
  }
}

.panel:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }


  


